{% extends 'components/layout.html'%}

{% block title %} About {% endblock %}

{% block content}
<h5>Webpage vs Website</h5>
<p>The difference between Webpage and Website is that you can consider a book as a Website and its pages are as Web Pages. So, it is a single Web page and its URL (uniform resource locator) is unique. If you copy its link and paste it in a browser, you will see only that particular pages.Whereas the Website is a collection of webpages. The website has its own domain name which is unique throughout the world. Anything can be stored on a website like photos, videos, texts etcetera.</p>
{% endblock content%}
